<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{margin: 0;padding: 0}
        .odiv{width: 600px;height: 300px;border: 1px solid #ccc;margin: 100px auto;box-sizing: border-box;position: fixed}
        .cdiv{width: 300px;height: 210px;border: 2px solid #ccc;position: sticky;top: 10px;left: -90px;}
        ul{width: 300px;height: 40px;border: 1px solid #ddd;display: flex;justify-content: space-around;align-items: stretch}
        li{width: 30px;height: 20px;list-style: none;background-color: red;border: 1px solid rosybrown}
    </style>
</head>
<body style="height: 2000px;">
<!--  postition 6种-->
<!--
    1 相对定位 relative
    2 绝对定位 absolute
    3 固定定位 fixed
    4 默认 static
    5 粘性布局 sticky
    6 相对于父级 inherit
-->
<!-- float-->
<!--
    left right
-->
<!--
    table
-->
<!--
    尺寸
    em  rem 百分百
-->

<!-- flex-->
<!--
    flex-wrap
    justify-around
    align-items
-->
    <div class="odiv">
        <div class="cdiv"></div>
    </div>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>

    </ul>
</body>
</html>