<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>螺旋矩阵</title>
    <script src="./vue.min.js"></script>
    <style>
        .cel{margin: 100px auto}
    </style>
</head>
<body>
<div id="app">
    <table class="cel">
        <tr v-for="(item,index) in map">
            <td v-for="(nub,cindex) in item">{{nub}}</td>
        </tr>
    </table>
</div>
<script>
    /**
     * 'a-z'
     * */
    var el=new Vue({
        el: "#app",
        data(){
            return{
                row:0, col:-1, n:15,dir:0,map:[],changnub:[],indk:0//填的数字
            }
        },
        methods:{
            init(){
                this.row=0;
                this.col=-1;
                this.n=15;
                this.dir=0;
                this.map=[];
            },
            start(n){
                let vm=this;
                vm.map=[];
                for(let i=0;i<n;i++){
                    vm.map.push([]);
                }
                var  i=0;
                do {
                    if(vm.dir % 4==0){
                        if(vm.right()){
                            vm.setVal(i++,true);
                        }else {
                            vm.dir++;
                        }
                    }else if(vm.dir % 4==1){
                        if(vm.bottom()){
                            vm.setVal(i++,true);
                        }else {
                            vm.dir++;
                        }
                    }else if(vm.dir % 4==2){
                        if(vm.left()){
                            vm.setVal(i++,true);
                        }else {
                            vm.dir++;
                        }
                    }else if(vm.dir % 4==3){
                        if(vm.top()){
                            vm.setVal(i++,true);
                        }else {
                            vm.dir++;
                        }
                    }
                    vm.setVal(i,false);
                } while (i < vm.n * vm.n);
            },
            setVal(i,c){
                //赋值
                let vm=this;
                if(c){
                    let code=String.fromCharCode(97+(i%26));
                  //  console.log(code);
                    vm.map[vm.row][vm.col]=code;
                }

            },
            left(){
                return this.move(this.row, this.col - 1);
            },
            right(){
                return this.move(this.row, this.col + 1);
            },
            top(){
                return this.move(this.row - 1, this.col);
            },
            bottom(){
                return this.move(this.row + 1, this.col);
            },
            move(row,col){
                return (0 <= row && row < this.n) && (0 <= col && col < this.n) && !this.map[row][col] && (this.row = row, this.col = col, true);
            },
            ccc(ind,cind){
                let vm=this;
                this.changnub.push(this.map[ind][cind]);
                this.init();
                vm.start(vm.n)
            },
            go(){
                this.indk++;
                if(this.indk>this.n*this.n){
                    return;
                }
                var _this=this;
                _this.map.forEach((valc,cindex)=>{
                    valc.forEach((val,index)=>{
                        if((cindex*_this.n)+index == _this.indk){
                            var reg=new RegExp('(l|u|o|g|a|n)');
                            if(!reg.test(val)){
                                _this.$set(_this.map[cindex],[index],'x');
                            }
                            setTimeout(function () {
                                _this.go();
                            },100);
                        }
                    })
                });
            }
        },
        mounted(){
            this.start(this.n);
            //  console.log(this.map);
            let _this=this;
            setTimeout(function () {
                _this.go(this.indk);
            },5000)
        }
    })
</script>
</body>
</html>